certifi==2018.4.16
chardet==3.0.4
Django==2.1
django-countries==5.3.1
docopt==0.6.2
idna==2.7
pillow==5.2.0
pip-autoremove==0.9.1
pipdeptree==0.13.0
pipreqs==0.4.9
pytz==2018.5
requests==2.19.1
urllib3==1.23
yarg==0.1.9
