{% extends "main.html" %}
{% load staticfiles %}

{% block css %}
<!--BOOTSTRAP CORE CSS-->
<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

<!--FONTAWESOME-->
<link href="{% static 'node_modules/fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<!--CUSTOM STYLES FOR THIS TEMPLATE-->
<link rel="stylesheet" href="{% static 'css/bootstrap/dashboard.css' %}" >
<link href="{% static 'css/bootstrap/form-validation.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'node_modules/fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
<link href="{% static 'css/custom-styles/ampc-style.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

<!--BREADCRUMBS-->
{% block breadcrumb %}
{{ block.super}}
<li class="breadcrumb-item">More</li>
<li class="breadcrumb-item"><a class="text-body" href="{% url 'announcement-menu' %}">Announcements</a></li>
<li class="breadcrumb-item active">New Announcement</li>
{% endblock breadcrumb %}

<!--CONTENT-->
{% block content %}
<title>AMPC | New Announcement</title>

<div class="py-5 text-center">
    <h2 class="h3">New Announcement</h2>
    <p class="lead">You may now add a new announcement using the form below.</p>
</div>

<table class="table table-hover">
    <tbody>
        <tr>
            <th scope="row">
                Title
            </th>
            <td>
                <input type="text" class="form-control">
            </td>
        </tr>
        <tr>
            <th scope="row">
                Content
            </th>
            <td>
                <textarea class="form-control"></textarea>
            </td>
        </tr>
        <tr>
            <th scope="row">
                Author
            </th>
            <td>
                <input type="text" class="form-control">
            </td>
        </tr>
        <tr>
            <th scope="row">
                Publication Schedule
            </th>
            <td>
                <input type="text" class="form-control">
            </td>
        </tr>
    </tbody>
</table>
<div class="text-center">
    <button class="btn custom-btn-blue btn-lg">
    <i class="fas fa-paper-plane fa-fw"></i>
</button>
</div>

{% endblock %}

