{% extends "main.html" %}

{% load staticfiles %}

{% block css %}

<!--Bootstrap core CSS-->
<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

<!--BOOTSTRAP CDN-->
<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->

<!--Custome styles for this template-->
<link href="{% static 'css/bootstrap/dashboard.css' %}" rel="stylesheet">
<link href="{% static 'node_modules/fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/ampc-style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/custom-styles/server-detail-styles.css' %}" rel="stylesheet" type="text/css">

<!--FONTAWESOME CDN-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">-->

<!--BREADCRUMBS-->
{% block breadcrumb %}
{{ block.super}}<li class="breadcrumb-item active">Front Office</li>
{% endblock breadcrumb %}
<!--END BREADCRUMBS-->

{% block mod %}
{% include "warning-modal.html" %}
{% endblock mod %}

{% block title %}
<title>AMPC|Front Office</title>
{% endblock title %}

{% endblock %}


{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="h3">Client Services</h2>
        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'new-client' %}" class="btn btn-outline-secondary btn-block shadow">
                    <i class="fas fa-user-plus fa-lg fa-fw"></i>
                    New Client
                </a>
            </div>
            <span style="display:block; height: 50px;"></span>
            <div class="col-md-4">
                <a href="{% url 'error' %}" class="btn btn-outline-secondary btn-block shadow">
                    <i class="fab fa-rebel fa-lg fa-fw"></i>
                    404 page
                </a>
            </div>
            <span style="display:block; height: 50px;"></span>
            <div class="col-md-4">
                <a href="{% url 'view-client' %}" class="btn btn-outline-secondary btn-block shadow">
                    <i class="fab fa-galactic-republic fa-lg fa-fw"></i>
                    View Client
                </a>
            </div>
        </div>

        <hr>

        <h2 class="h3">Inquiry</h2>
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-outline-secondary btn-block shadow" data-toggle="modal" data-target="#exampleModal">
                    <i class="fab fa-galactic-senate fa-lg fa-fw"></i>
                    {% lorem 1 w random %}
                </a>
            </div>
            <span style="display:block; height: 50px;"></span>
            <div class="col-md-3">
                <a href="#" class="btn btn-outline-secondary btn-block shadow">
                    <i class="fab fa-first-order fa-lg fa-fw"></i>
                    {% lorem 1 w random %}
                </a>
            </div>
            <span style="display:block; height: 50px;"></span>
            <div class="col-md-3">
                <a href="#" class="btn btn-outline-secondary btn-block shadow">
                    <i class="fab fa-empire fa-lg fa-fw"></i>
                    {% lorem 1 w random %}
                </a>
            </div>
            <span style="display:block; height: 50px;"></span>
            <div class="col-md-3">
                <a href="#" class="btn btn-outline-secondary btn-block shadow">
                    <i class="fab fa-jedi-order fa-lg fa-fw"></i>
                    {% lorem 1 w random %}
                </a>
            </div>
            <span style="display:block; height: 50px;"></span>
        </div>

        <hr>

        <h2 class="h3">Reports</h2>
        <div class="row">
            <div class="col-md-6">
                <a href="#" class="btn btn-outline-secondary btn-block shadow">
                    <i class="fab fa-first-order-alt fa-lg fa-fw"></i>
                    {% lorem 1 w random %}
                </a>
            </div>
            <span style="display:block; height: 50px;"></span>
            <div class="col-md-6">
                <a href="#" class="btn btn-outline-secondary btn-block shadow">
                    <i class="fab fa-empire fa-lg fa-fw"></i>
                    {% lorem 1 w random %}
                </a>
            </div>
            <span style="display:block; height: 50px;"></span>
        </div>
    </div>
    <div class="col-md-4">
        &nbsp;
        <p>
            <span class="fas fa-clock fa-lg fa-fw"></span>
            <label id="timeS" class="custom-clock"></label>
        </p>
        <p><i class="fas fa-calendar-check fa-lg fa-fw"></i>{% now "F j Y" %}</p>
    </div>
</div>
<!--
        <script type="text/javascript">
            $(function(){
                $('.nav a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active')
                $('.nav a').click(function(){
                    $(this).parent().addClass('active').siblings().removeClass('active')	
                })
            })
        </script>
-->

        <script>
            // Add active class to the current button (highlight it)
            var header = document.getElementById("listmenu");
            var btns = header.getElementsByClassName("nav-link");
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
                });
            }
        </script>
<script src="{% static 'js/server-time.js' %}"></script>
{% endblock %}
